body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150vh;
    margin: 0;
    background-color: #04364A;
    /*overflow: hidden;*/
    font-family: Arial, sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#clock-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#table-container {
    flex: 1;  
    max-height: 500px; 
    overflow-y: auto;  
    width: 50%;
    padding: 10px;
    background-color: #64CCC5;
    border-radius: 20px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #007562;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #DAFFFB;
}

.clock {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #176B87;
}

.numbers {
    position: relative;
    width: 100%;
    height: 100%;
}

.number, .minute-mark {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.minute-mark {
    font-size: 16px;
}

.dot {
    position: absolute;
    width: 12px; 
    height: 12px; 
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease; 
}

.line-name {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    padding: 2px 5px;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.context-menu {
    position: absolute;
    background-color: #DAFFFB;
    border: 1px solid #64CCC5;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.context-menu-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.context-menu button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
}

.context-menu button:hover {
    background-color: #64CCC5;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

.modal-content button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
